<footer class="footer">
<nav class="nav">
{% for category in site.data.nav.footer %}
<ul class="nav__list">
<h4 class="nav__list__title">{{ category.name }}</h4>
{% for item in category.items %}
<li class="nav__item">
<a class="link link--inverted" href="{{ item.action }}"">{{ item.name }}</a>
</li>
{% endfor %}
</ul>
{% endfor %}
<li class="nav__item nav__item--grow"></li>
<li class="nav__item nav__item--logo nav__item--last">
<a class="link" href="/"><i class="icon-logo"></i></a>
</li>
</nav>
</footer>
<script src="/assets/js/vendor/modernizr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blissfuljs/1.0.6/bliss.min.js"></script>
