@mixin clickable() {
    text-decoration: none;
    cursor: pointer;
}

.link {
    @include clickable;
    color: $color-blue;
    transition: color .3s;

    &:hover,
    &--inverted {
        color: inherit;
    }

    &--inverted:hover {
        color: $color-blue;
    }
}

.button {
    @include clickable;
    display: inline-block;
    padding: 0 .67em;
    color: $color-white;
    background-color: $color-blue;
    border-style: solid;
    border-width: 1px;
    border-color: $color-blue;
    border-radius: 0.34em;
    transition: color .3s, background-color .3s, border-color .3s, border-radius .3s;

    &:hover {
        color: inherit;
        background-color: transparent;
        border-color: inherit;
        border-radius: 1em;
    }

    &--inverted {
        color: $color-blue;
        background-color: transparent;
        border-color: $color-blue;
        border-radius: 0.34em;
    }
}
