@mixin clickable() {
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease 0s;
}

.link {
    @include clickable;
    color: $color-blue;

    &:hover,
    &--inverted {
        color: inherit;
    }

    &--inverted:hover {
        color: $color-blue;
    }

    &--logo {
        font-size: 1.5em;
        line-height: 1em;

        .icon-logo:before {
            font-size: inherit;
            width: auto;
        }
    }
}

.button {
    @include clickable;
    display: inline-block;
    padding: 0 .67em;
    color: $color-white;
    background-color: $color-blue;
    border-style: solid;
    border-width: 1px;
    border-color: $color-blue;
    border-radius: 0.34em;

    &:hover {
        color: $color-charcoal;
        background-color: transparent;
        border-color: $color-charcoal;
        border-radius: 1em;
    }

    &--inverted {
        color: $color-blue;
        background-color: transparent;
        border-color: $color-blue;
        border-radius: 0.34em;
    }
}
