.nav {
    display: flex;
    flex-direction: row;
    @include padding-column;

    &__space {
        display: block;
        flex-grow: 1;
    }

    &__list {
        padding: 0;
        margin-right: $space-column;

        &__title {
            line-height: 2em;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: $space-column;

        &--header {
            @extend h3;
            height: 2.67em;
        }

        &--footer {
            &-logo {
                font-size: 1.34em;
                justify-content: flex-start;
            }

            &:not(&-logo) > * {
                line-height: 2em;
            }
        }
    }

    &--last {
        margin-right: 0;
    }
}

.hero {
    @include height-responsive(46%);
    @include padding-column(4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/images/home-hero.jpg);
    background-position: center;
    background-size: cover;

    &__content {
        width: 43%;
    }
}

.cta {
    &__button {
        @extend h3;
    }
}

.header {
    @include width-responsive;
    position: fixed;
    background-color: $color-white;
    box-shadow: 0 2px 24px $color-gray;
}

.main {
    @include width-responsive;
    padding-top: 3.56em;
}

.footer {
    @include width-responsive;
    @include padding-row;
}

.alert-ie {
    position: static;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 1em;
    color: white;
    text-align: center;
    background-color: red;
}
