.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include column(padding, $x: 1.5);

    &__list {
        padding: 0;
        @include column(margin, right);
        @include row(margin, bottom);

        &__title {
            @include row(margin, bottom, $x: .25);
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        @include column(margin, right);

        &--grow {
            flex-grow: 1;
        }

        &--last {
            margin-right: 0;
        }

        &--logo,
        &--menu {
            [class*="icon-"]:before {
                font-size: inherit;
            }
        }
    }
}

.header {
    @include width;
    position: fixed;
    background-color: $color-white;
    box-shadow: 0 2px 24px $color-gray;

    .nav__item {
        @extend h3;
        margin-bottom: 0;
        height: 4rem;

        &--logo {
            font-size: 2.25rem;
            @include media(mid) {
                font-size: 2rem;
            }
        }

        &--menu {
            align-items: center;
            @include media(min, min-width) {
                > * { display: none; }
            }
        }

        &--link {
            @include media(min) {
                display: none;
                width: 100%;
                order: 1;
                align-items: center;
            }
        }

        &--active {
            display: flex;
        }
    }
}

.main {
    @include width;
    padding-top: 4rem;
}

.hero {
    &__image--intro {
        @include height(46%);
        background-image: url(/assets/images/hero-intro.jpg);
        @include media(mid, min-width) {
            > * { max-width: 50%; }
        }
    }

    &__image--about {
        @include height(25%);
        background-image: url(/assets/images/hero-about.jpg);
    }

    &__image--health-public {
        @include height(46%);
        color: $color-white;
        background-image: url(/assets/images/hero-health-public.jpg);
        @include media(mid, min-width) {
            > * { max-width: 40%; }
        }
    }

    &__content,
    &__image {
        background-position: center;
        background-size: cover;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        @include row(padding);
        @include column(padding, $x: 3);
        @include media(mid) {
            color: inherit;
            height: auto;
            align-items: center;
            background-image: none;
        }
        @include media(min) {
            @include column(padding, $x: 1.5);
        }
    }

    &__content--header {
        align-items: center;
    }

    &__image--backoff {
        @include media(mid, min-width) {
            display: none;
        }
    }
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    @include row(padding, $x: 3);
    @include column(padding, $x: 3);
    @include media(mid) {
        flex-direction: column;
        @include row(padding);
    }
    @include media(min) {
        @include column(padding, $x: 1.5);
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 40%;
        @include media(mid) {
            width: auto;
            @include row(margin, bottom);
        }
    }

    &__image {
        width: 60%;
        @include column(padding, left, 2);
        @include media(mid) {
            width: auto;
            padding-left: 0;
        }

        img {
            width: 100%;
        }
    }

    &--reversed {
        flex-direction: row-reverse;
        justify-content: flex-end;
        @include media(mid) {
            flex-direction: column;
        }

        .banner__image {
            padding-left: 0;
            @include column(padding, right, 2);
            @include media(mid) {
                padding-right: 0;
            }
        }
    }

    &--gray {
        background-color: $color-gray;
    }
}

.content {
    @include row(padding, $x: 1);
    @include column(padding, $x: 3);
    @include media(min) {
        @include column(padding, $x: 1.5);
    }
}

.cta {
    &__button {
        @extend h3;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    background-color: $color-gray;
    max-width: 320px;
    padding: 1.75rem;
    border-radius: .5rem;

    &__title {
        font-weight: bold;
        line-height: 1em;
        margin-bottom: .5rem;
    }

    &__subtitle {
        display: block;
        @include row(margin, bottom, .5);
    }

    &__description {
        @include row(margin, bottom, .5);
    }

    &__highlights {
        padding: 0;
        @include row(margin, bottom, .75);
        list-style-type: none;

        .icon-plus:before {
            @include column(margin, right, .25);
        }
    }

    &__action {
        align-self: center;
    }
}

.footer {
    @include width;
    @include row(padding);

    .nav {
        @include media(mid) {
            flex-direction: column;
        }

        &__item {
            &--logo {
                font-size: 2.25rem;
                @include media(mid, max-width) {
                    font-size: 2rem;
                }
            }

            &--last {
                justify-content: flex-start;
            }
        }
    }
}

.alert-ie {
    position: static;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 1em;
    color: white;
    text-align: center;
    background-color: red;
}
