// Typography
$font-family          : 'Noto Sans SC', sans-serif;
$font-base-size       : 18px;

// Color
$color-black          : #000;
$color-white          : #fff;
$color-gray           : #f7f8fa;
$color-blue           : #0099ff;
$color-blue-deep      : #0066cc;

// Screen
$screen-xlarge        : 2560px;
$screen-large         : 1920px;
$screen-medium        : 1280px;
$screen-small         : 640px;
$screen-large-xlarge  : ($screen-large + $screen-xlarge) / 2;
$screen-medium-large  : ($screen-medium + $screen-large) / 2;
$screen-small-medium  : ($screen-small + $screen-medium) / 2;

// Layout
$column-space         : 2rem;
$row-space            : 1.6rem;
